* {
  font-family: monospace;
  white-space: pre-wrap;
  box-sizing: border-box;
  font-size: 10pt;
}
label {
  display: block;
  margin: 1em 0 0;
}
input,textarea {
  text-overflow: ellipsis;
  border: 0px none;
  padding: 0;
  background: #88888822;
  width: 40ch;
  vertical-align: top;  
}
